@font-face {
    font-family: OSGillSans;
    src: url(OSGillSans-Regular.otf);
}
@font-face {
    font-family: OSMeadows;
    src: url(OSMeadows-Regular.otf);
}
@font-face {
    font-family: PT_Sans;
    src: url(PT_Sans-Narrow-Web-Regular.ttf);
}
@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.otf);
}



